

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
}

environment {
    DISPLAY ":12"
}

input {
    keyboard {
        xkb {
            layout "de"
        }
    }

    touchpad {
        tap
        dwt
        // natural-scroll
        // disabled-on-external-mouse
    }

    mouse {
	// left-handed
        // accel-speed 0.2
        // accel-profile "flat"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // middle-emulation
    }

    warp-mouse-to-focus
    focus-follows-mouse
}


output "eDP-1" {
    // off
    mode "1920x1080@60.008"
    scale 1
    transform "normal"
    position x=1920 y=0
    variable-refresh-rate on-demand=true
    background-color "#000000"
}

output "DP-1" {
    // off
    mode "1920x1080@74.973"
    scale 1
    transform "normal"
    position x=0 y=0
    variable-refresh-rate on-demand=true
    background-color "#000000"
}

output "HDMI-A-1" {
    // off
    mode "1920x1080@74.973"
    scale 1
    transform "normal"
    position x=0 y=0
    variable-refresh-rate on-demand=true
    background-color "#000000"
}

layout {
    gaps 5
    center-focused-column "never"
    always-center-single-column
    preset-column-widths {
        proportion 0.5
        proportion 0.66667
    }
    default-column-width {
        proportion 0.5
    }
    preset-window-heights {
        proportion 1.0
	proportion 0.5
    }

    focus-ring {
        off
   }

    border {
        // off
        width 3

        inactive-color "#374145"
        active-gradient from="#a7c080" to="#83c092" angle=45 relative-to="workspace-view"
    }

    shadow {
        on
        softness 4
        spread 0
        offset x=5 y=5
        color "#181825bf"
	inactive-color "#11111bbf"
    }

    insert-hint {
        // off
    }

/-  struts {
    } 
}


animations {
    // off
    // slowdown 3.0
}

window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}

window-rule {
    match app-id="kitty"

    open-floating true
    default-floating-position x=32 y=32 relative-to="top-right"
    default-column-width { proportion 0.33; }
    default-window-height { proportion 0.44; }
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule { 
    match app-id=r#"pavucontrol$"# 
    open-floating true 
    // default-column-width { proportion 0.45; }
    // default-window-height { proportion 0.40; }
}

// Example: block out two password managers from screen capture.
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"
    // block-out-from "screencast"
}

binds {
    // Hotkey cheatsheet
    Mod+Alt+T { show-hotkey-overlay; }

    // Application shortcuts
    Mod+Return  { spawn "kitty"; }
    Mod+D       { spawn "bash" "-c" "rofi -show drun"; }
    Super+Alt+L     { spawn "hyprlock"; }

    // Example volume keys mappings for PipeWire & WirePlumber.
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    // Change and move windows/columns/workspaces (Vim like)
    Mod+H { focus-column-left; }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+L { focus-column-right; }

    Mod+Ctrl+H { move-column-left; }
    Mod+Ctrl+J { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+K { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+L { move-column-right; }

    Mod+0           { focus-column-first; }
    Mod+ssharp      { focus-column-last; }
    Mod+Ctrl+0      { move-column-to-first; }
    Mod+Ctrl+ssharp { move-column-to-last; }

    Mod+Ctrl+U { move-column-to-workspace-down; }
    Mod+Ctrl+I { move-column-to-workspace-up; }

    // Window/column manipulation
    Mod+Q       { close-window; }

    Mod+R       { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }

    Mod+Ctrl+R  { reset-window-height; }

    Mod+F       { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+C       { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Change between tiling & floating
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // Workspace index control
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }

    // Keybinds for build in screenshot utility?
    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Prevents buggy applications from holding the session hostage 
    // by not letting niri process keybinds
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E { quit; }

    // Turn monitors off
    Mod+Shift+P { power-off-monitors; }
}

